<nav class="main-navbar">
    <div class="navbar-logos">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo 1" class="nav-logo">
        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo 2" class="nav-logo">
        <img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo 3" class="nav-logo">
    </div>
    
    <div class="navbar-links">
        <a href="{{ url_for('title_page') }}" class="nav-link">
            <i class="fas fa-home"></i> Main Page
        </a>
        <a href="{{ url_for('patients') }}" class="nav-link">
            <i class="fas fa-list-ul"></i> Patient List
        </a>
        <a href="{{ url_for('new_patient') }}" class="nav-link">
            <i class="fas fa-user-plus"></i> Add Patients
        </a>
    </div>
</nav>
